# android_armv7
common:android_armeabi-v7a --crosstool_top=@androidndk//:default_crosstool
common:android_armeabi-v7a --cpu=armeabi-v7a
common:android_armeabi-v7a --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
common:android_armeabi-v7a --linkopt=-ldl
common:android_armeabi-v7a --linkopt=-lm
common:android_armeabi-v7a --linkopt=-llog
common:android_armeabi-v7a --linkopt=-fPIE
common:android_armeabi-v7a --linkopt=-pie
common:android_armeabi-v7a --cxxopt=-std=c++11
common:android_armeabi-v7a --copt=-fPIE
common:android_armeabi-v7a --copt=-fPIC
common:android_armeabi-v7a --copt=-frtti
common:android_armeabi-v7a --copt=-fno-exceptions
common:android_armeabi-v7a --copt=-fvisibility=hidden
common:android_armeabi-v7a --copt=-fvisibility-inlines-hidden
common:android_armeabi-v7a --copt=-ffunction-sections
common:android_armeabi-v7a --copt=-fdata-sections
common:android_armeabi-v7a --copt=-funwind-tables

# android_arm64
common:android_arm64-v8a --crosstool_top=@androidndk//:default_crosstool
common:android_arm64-v8a --cpu=arm64-v8a
common:android_arm64-v8a --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
common:android_arm64-v8a --linkopt=-ldl
common:android_arm64-v8a --linkopt=-lm
common:android_arm64-v8a --linkopt=-llog
common:android_arm64-v8a --linkopt=-fPIE
common:android_arm64-v8a --linkopt=-pie
common:android_arm64-v8a --cxxopt=-std=c++11
common:android_arm64-v8a --copt=-fPIE
common:android_arm64-v8a --copt=-fPIC
common:android_arm64-v8a --copt=-frtti
common:android_arm64-v8a --copt=-fno-exceptions
common:android_arm64-v8a --copt=-fvisibility=hidden
common:android_arm64-v8a --copt=-fvisibility-inlines-hidden
common:android_arm64-v8a --copt=-ffunction-sections
common:android_arm64-v8a --copt=-fdata-sections
common:android_arm64-v8a --copt=-funwind-tables

# android_simulator_x86
common:android_simulator_x86 --crosstool_top=@androidndk//:default_crosstool
common:android_simulator_x86 --cpu=x86
common:android_simulator_x86 --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
common:android_simulator_x86 --linkopt=-ldl
common:android_simulator_x86 --linkopt=-lm
common:android_simulator_x86 --linkopt=-llog
common:android_simulator_x86 --linkopt=-fPIE
common:android_simulator_x86 --cxxopt=-std=c++11
common:android_simulator_x86 --copt=-fPIE
common:android_simulator_x86 --copt=-fPIC
common:android_simulator_x86 --copt=-frtti
common:android_simulator_x86 --copt=-fno-exceptions
common:android_simulator_x86 --copt=-fvisibility=hidden
common:android_simulator_x86 --copt=-fvisibility-inlines-hidden
common:android_simulator_x86 --copt=-ffunction-sections
common:android_simulator_x86 --copt=-fdata-sections
common:android_simulator_x86 --copt=-funwind-tables

# linux
common:linux --linkopt=-fPIE
common:linux --cxxopt=-std=c++11
common:linux --copt=-fPIC
common:linux --copt=-frtti
common:linux --copt=-fno-exceptions
common:linux --copt=-fvisibility=hidden
common:linux --copt=-fvisibility-inlines-hidden
common:linux --copt=-ffunction-sections
common:linux --copt=-fdata-sections
common:linux --copt=-funwind-tables

# darwin
common:darwin --ios_multi_cpus=armv7,arm64,x86_64,i386
common:darwin --cxxopt=-std=c++11
common:darwin --copt=-fPIC
common:darwin --copt=-frtti
common:darwin --copt=-fno-exceptions
common:darwin --copt=-fvisibility=hidden
common:darwin --copt=-fvisibility-inlines-hidden
common:darwin --copt=-ffunction-sections
common:darwin --copt=-fdata-sections
common:darwin --copt=-funwind-tables
